
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: black;
    margin-right: 43px;   
}
.logo-color {
 color:#2196F3;
}
.visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;    
}

/* __HEADER__ */



.header {
    padding: 25px 0;
    border-bottom: 1px solid #ECECEC;
}

.navigation {
    display: flex;
    align-items: center;
 
}
 .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.navigation-menu  {
    display:flex;
    justify-items: center;
    text-decoration: none;
 }
 .navigation-menu-item {
    margin-left: 50px;
}

.navigation-menu-link {
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
}
.navigation-menu-link:hover {
    color: #2196F3;
}

.contacts {
    display: flex;
    align-items: center;
    

}
.contacts-item {
    display: flex ;
    align-items: center;
}
.contacts-item:last-child {
    margin-left: 30px;
}

.contacts-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    transition: 0.4s;
}
.contacts-link:hover {
    color: #2196F3
}
.active {
    color: #2196F3;
}


/* _HERO__ */

.section-hero {
background-color: #2F303A;
text-align: center;
padding: 200px 0;
} 
.hero-text{
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 60px;
letter-spacing: 0.06em;
text-transform: uppercase;
color: rgb(255, 255, 255);
margin: 0 auto;
width: 696px;
}
.button-hero {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 30px;
background-color: #2196F3;
color:#FFFFFF;
padding: 10px 32px;
border-radius: 4px;
letter-spacing: 0.06em;
border: none;
margin-top: 30px;

}
.header-features {
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.features-text {
font-family: 'Roboto';
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em; 
color: #757575;
max-width: 250px;      
}
.section-name {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;    
margin-bottom: 50px;
}

.name-person {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 19px; 
letter-spacing: 0.03em;   
color: #212121; 
margin-bottom: 10px;
}
.for-person {
font-family: 'Roboto';
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;   
color: #757575;    
}


/* __SPECIAL COMPANY */

.special-list {
    display: flex;
    justify-content: space-between;
}
/* .fff {
    max-width: 270px;
} */
.special {
    padding: 94px 0;
}


/* __BUSINESS */

.business {
    display: flex;
    justify-content: space-between;
}


/* OUR COMAND */
.our-team-section {
    background: #F5F4FA; 
    padding: 94px 0;   
    }

.our-team-list {
    display: flex;
    justify-content: space-between;
}
.our-team-block {
    padding: 30px 60px;
    text-align: center;
}
.our-team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;

}

/* __FOOTER__ */



.footer {
background-color: #2F303A;
padding: 60px 0;
}

.logo-footer {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-address-item {
    margin-bottom: 9px;
}
.footer-address-item:last-child {
    margin-bottom: 0;
}



.actual-address {
font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
text-decoration: none;  
color: #FFFFFF;
}
.actual-contact {
font-family: 'Roboto';
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
text-decoration: none;
color: rgba(255, 255, 255, 0.6);
}


/* ПОРТФОЛИО  */

/* __BTN */
.filters-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}   
.filters-button:hover{
    background-color: #2196F3;
    color: #FFFFFF;     
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters-button {
 margin: 0 4px;
 background: #F5F4FA;
 border-radius: 4px;
 padding: 6px 22px;
 
}


.filters-button {
background-color: #F5F4FA;
border-radius: 4px;
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: #212121;
border: none;
}
.project .portfolio-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 18px;
line-height: 36px;   
letter-spacing: 0.06em;
color: #212121;   
}
.project .portfolio-text {
font-family: 'Roboto';
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;  
}
.project {
    padding: 94px 0;
}


.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-top: 30px;

}
.portfolio-item-block {
    padding: 24px 20px;
    text-align: left;
}   